.main_container {
  background-image: url("../../assets/images/login_backgroud.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100vw;
  height: 100vh;
}

.login_header {
  height: 45vh;
}
.login_content{
  height: 25vh;
  padding-top: 50px;
}
.login_footer{
  height: 30vh;
}


