.main_container {
  background-image: url("../../assets/images/login_backgroud.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100vw;
  height: 100vh;
}

//内容居中
.login_title {
  height: 45vh;
}
//垂直元素间隔50px
.login_form{
  height: 35vh;
  padding-top: 50px;
}
.login_bottom{
  height: 20vh;
  background-color: aqua;
}

////透明 浮动 垂直水平居中
//.login_form {
//  width: 438px;
//  height: 300px;
//  position: absolute;
//  top: 55%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  border-radius: 10px;
//}
//


