.form{
}
//// 鼠标聚焦下划线缓慢拉长
.login_input:hover {
  width: 90%;
  height: 70px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
  outline: none;
  transition: all 0.5s;

}
////文字居中 间隔20px
.login_submit {
  margin-top: 50px;
  top: 10px;
  width: 90%;
  height: 70px;
  border-radius: 10px;
  background-color: #445ae3;
  color: #fff;
  border: none;
}


